<div class="pa3">
	<div class="w-100 w-50-ns center">
		<div class="tc center bb b--black-10 mv5">
			<div class="center w-75-l w-100">
				<h1 class="serif">Hi, I'm Nana Adjei Manu</h1>
				<p class="f4 serif">A web developer based in Accra. Daytime im studying Computing and at night im hacking and disrupting at <a href="http://www.claeus.com">Claeus</a>. Every other time i'm just having a good time or sleeping.</p>
			</div>
		<div class="w-100 mv4 pv4">
			{{#link-to 'projects' class="fr f6 link bn ph3 pv2 mb2 mh2 br4 b bg-blue white dim pointer fn"}}
				View my projects
			{{/link-to}}
		</div>
	</div>
	<div class="w-100 center">
				<div class="cf">
					<div class="grow fl w-50-l w-100 pa3">
						<div class="tc">
							<span class="f-subheadline ion-ios-paper-outline"></span>
							<h3 class="bb b--black-10 pa3">Web App Development</h3>
						</div>
						<p class="lh-copy tj">Having a web presence in the world today is practically a necessity. Many will base their opinions about your company on your website and online presence. I’ve helped many new companies and start ups design and build their websites and online presence, while further refining and perfecting websites for established companies and large businesses.

						I’ve utilized various tools, libraries and frameworks including Laravel, ReactJS, Ruby on Rails, and Node Js to build e-commerce stores, portfolio and marketing sites, and web applications. I’m always interested in hearing your ideas and to discover how I might be able to help..</p>
					</div>
					<div class="grow fl w-50-l w-100 pa3">
						<div class="tc">
							<span class="f-subheadline ion-ios-copy-outline"></span>
							<h3 class="bb b--black-10 pa3">Consulting + Strategy</h3>
						</div>
						<p class="lh-copy tj">Although basic feedback and strategy development is something I help with through my design and development services, I do also like to focus and hone in on just the product or company strategy. I’ve had the opportunity to work on and develop strategies for various projects, big and small. I would love to hear more about your business ideas + strategies and how I can help guide and further develop them with you, so please get in touch!.</p></div>
					</div>
				</div>
				<div class="tc w-100 center mt5 bt b--black-10">
					<p class="f2 center tc">Lets discuss your next project.</p>
					<div class="w-100 mv4">
						{{#link-to 'contact' class="fr f6 link bn ph3 pv2 mb2 mh2 br4 b bg-blue white dim pointer fn"}}
							Get in touch
						{{/link-to}}
					</div>
				</div>
				
			</div>
		</div>