
<div class="pa3">
	<div class="w-100 w-50-ns center">
		<article class="pa3 pa5-ns">
		  <h1 class="f3 f1-m f-headline-l">Get in Touch</h1>
		  <p class="measure lh-copy">
		   i would really like to know about your project and how i can help you maximise your online presence and growth
		  </p>
		  <p>
		    <a href="tel:+233200864583">+233200864583</a><br>
		    <a href="mailto:claeusdev@outlook.com">claeusdev@outlook.com</a>
		  </p>
		</article>
	</div>
</div>

